In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Read in individual datasets for each state
all_states = os.listdir('clean_data/')
all_states = {f[:2]:pd.read_csv(f"clean_data/{f}") for f in all_states if len(f)<7}
print("Total number of states (including Federal Bureau of Prisons):", len(all_states.keys()))
all_states['MA']

Total number of states (including Federal Bureau of Prisons): 51

,name,abbreviation,staff_tests,prisoner_tests,total_staff_cases,total_prisoner_cases,total_staff_deaths,total_prisoner_deaths,date,week_num
0,Massachusetts,MA,NaN,NaN,4.0,9.0,0.0,0.0,2020-03-26,2020-13
1,Massachusetts,MA,NaN,NaN,7.0,20.0,0.0,0.0,2020-04-01,2020-14
2,Massachusetts,MA,NaN,NaN,26.0,46.0,0.0,3.0,2020-04-08,2020-15
3,Massachusetts,MA,NaN,NaN,42.0,90.0,0.0,4.0,2020-04-15,2020-16
4,Massachusetts,MA,NaN,296.0,93.0,127.0,0.0,7.0,2020-04-22,2020-17
5,Massachusetts,MA,NaN,747.0,120.0,257.0,0.0,7.0,2020-04-29,2020-18
6,Massachusetts,MA,NaN,1906.0,151.0,351.0,0.0,7.0,2020-05-06,2020-19

In [3]:
# Read in population data and fillna using OLS
pop = pd.read_csv('clean_data/population.csv')

# Fillin the nan values using a linear model
from sklearn.linear_model import LinearRegression
train = pop[pop['staff_pop']>0].copy()
test = pop[pop['staff_pop'].isna()].copy()
X_train, X_test, y_train = train[['prison_pop']], test[['prison_pop']], train['staff_pop']
ols = LinearRegression().fit(X_train, y_train)
y_pred = ols.predict(X_test)
y_pred = list(map(int, y_pred))
pop.loc[pop['staff_pop'].isnull(), 'staff_pop'] = y_pred
assert pop.isna().sum()['staff_pop'] == 0

# Define 2 types of targets for OLS

In [4]:
# Define 2 types of targets for OLS
# 1. Percentage (in %) of for most recent cumulative prisoner/staff cases over prisoner/staff population
# 2. The slope of cumulative prisoner/staff cases

state_names = [c for c in list(all_states.keys()) if 'US' not in c]
result = {'state':[], 'prison_perc':[], 'staff_perc':[], 'prison_slope':[], 'staff_slope':[]}

for state in state_names:
    result['state'].append(state)
    state_df = all_states[state]
    # Normalize cases by population
    prisoner_pop = pop[pop['abbreviation'] == state]['prison_pop'].values[0]
    staff_pop = pop[pop['abbreviation'] == state]['staff_pop'].values[0]
    state_df['total_prisoner_cases'] /= prisoner_pop
    state_df['total_staff_cases'] /= staff_pop
    
    result['prison_perc'].append(state_df['total_prisoner_cases'].max() * 100)
    result['staff_perc'].append(state_df['total_staff_cases'].max() * 100)
    prison_slope = (state_df['total_prisoner_cases'].max() - state_df['total_prisoner_cases'].min()) / 7
    staff_slope = (state_df['total_staff_cases'].max() - state_df['total_staff_cases'].min()) / 7
    result['prison_slope'].append(prison_slope)
    result['staff_slope'].append(staff_slope)
result = pd.DataFrame(result)
result

   state  prison_perc  staff_perc  prison_slope  staff_slope
0     MN     0.960982    2.164066      0.001373     0.003092
1     AZ     0.165571    0.609185      0.000237     0.000000
2     WA     0.141593    0.397456      0.000202     0.000503
3     WV     0.000000    0.066401      0.000000     0.000095
4     AL     0.037818    0.271609      0.000054     0.000365
5     NC     1.855579    0.373038      0.002651     0.000533
6     MO     0.123077    0.181818      0.000170     0.000260
7     NV     0.000000    0.571429      0.000000     0.000765
8     OR     0.304330    0.452196      0.000435     0.000646
9     TX     0.953441    1.397167      0.001361     0.001988
10    TN     9.262411    1.061981      0.013232     0.001517
11    ND     0.000000    1.063830      0.000000     0.001013
12    AK     0.020012    0.405885      0.000029     0.000580
13    CT     3.912261    5.802269      0.005566     0.008219
14    VT     3.200569    1.898102      0.004572     0.002426
15    MI     5.500570    2.449218      0.007767     0.003200
16    NE     0.000000    0.239120      0.000000     0.000273
17    VA     2.030883    0.730748      0.002901     0.001044
18    CA     0.335961    0.367391      0.000479     0.000497
19    ID     0.000000    0.250125      0.000000     0.000357
20    KY     2.885758    1.376147      0.004013     0.001773
21    FL     0.427974    0.810154      0.000611     0.001112
22    PA     0.324278    0.842566      0.000463     0.001128
23    RI     0.174749    0.821509      0.000250     0.001174
24    DE     2.703287    2.529644      0.003862     0.003614
25    IA     0.249970    0.445344      0.000357     0.000636
26    KS     6.218402    2.973978      0.008883     0.004249
27    IL     0.476913    1.332654      0.000670     0.001867
28    SC     0.236327    1.160622      0.000338     0.001658
29    HI     0.000000    0.000000      0.000000     0.000000
30    IN     1.859358    3.900000      0.002656     0.005095
31    GA     0.577454    1.190618      0.000814     0.001497
32    SD     0.053865    0.667780      0.000038     0.000477
33    WI     0.088519    0.495690      0.000126     0.000554
34    AR     5.192234    3.139679      0.007417     0.004485
35    NJ     1.188305    7.176735      0.001698     0.010181
36    NH     0.000000    1.336574      0.000000     0.001909
37    MS     0.021426    1.184433      0.000031     0.000967
38    MD     0.324468    3.326668      0.000464     0.004389
39    CO     1.780381    0.398915      0.002543     0.000547
40    UT     0.163106    0.176913      0.000233     0.000126
41    ME     0.000000    0.088417      0.000000     0.000000
42    LA     1.069316    2.470661      0.001528     0.003471
43    MA     4.294629    3.227185      0.005978     0.004488
44    NM     0.000000    0.211305      0.000000     0.000302
45    WY     0.000000    0.097182      0.000000     0.000139
46    OH     8.842407    3.961614      0.012632     0.005038
47    NY     0.969989    5.977096      0.001376     0.008240
48    OK     0.008194    0.209790      0.000012     0.000300
49    MT     0.011524    0.058468      0.000008     0.000028